{% extends 'core/base.html' %}

{% block content %}
<!-- OVERVIEW -->
<section>
    <h2>Error Detail</h2>
    <div class="content row padding-bottom-3 desktop-12 container">
        <ul class="list-group">
            <li class="list-group-item"><strong>Enviroment: </strong>{{ error.enviroment }}</li>
            <li class="list-group-item"><strong>Level: </strong>{{ error.level }}</li>
            <li class="list-group-item"><strong>Log: </strong>{{ error.log }}</li>
            <li class="list-group-item"><strong>Events: </strong>{{ error.events }}</li>
        </ul>
    </div>
</section>
{% endblock content %}