{% extends 'core/base.html' %}

{% block content %}
<!-- OVERVIEW -->
<section>
    <div class="content row padding-bottom-3 desktop-12 container">
        <h1>Error Detail</h1>
        <div class="desktop-6">
            <ul>
                <li>Enviroment: {{ error.enviroment }}</li>
                <li>Level: {{ error.level }}</li>
                <li>Log: {{ error.log }}</li>
                <li>Events: {{ error.events }}</li>
            </ul>
        </div>
    </div>
</section>
{% endblock content %}